.cart-view {
  z-index: 1;
  & .inner-view {
    background-color: white;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.235);
    max-width: 800px;
    min-width: 200px;
    margin: auto;
    padding: 18px 10px;
    border-radius: 10px;
    min-height: 200px;
  }
  & section {
    display: flex;
    align-items: center;
    background: #fff4f0;
    border-radius: 7px;
    margin-bottom: 20px;
    transition: 200ms;
    cursor: pointer;
    &:hover {
      background: #fae9e3;
    }
    & img {
      max-width: 220px;
      max-height: 150px;
      object-fit: cover;
    }
    & div {
      display: flex;
      flex-direction: column;
      margin-left: 13px;
    }
    & .name {
      font-weight: bold;
      text-transform: capitalize;
    }
    & .qty {
      flex-direction: row !important;
      margin-left: 0;
      background: #ffded4 !important;
      width: 167px !important;
      height: 36px !important;
      margin-top: 5px;
      border-radius: 23px;
      & button {
        outline: none;
      }
    }
    & span {
      margin-top: 2px;
      padding: 5px 0;
    }
  }
  & .item-det {
    width: 100%;
  }
  & .last-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & span.rem {
      height: 23px;
      margin: 6px 4px;
      color: #ff5991;
      border: none;
      border-radius: 5px;
      padding: 0 13px;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        color: #ff0055;
      }
    }
  }
  & .empty-msg {
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & i {
      display: block;
      font-size: 62px;
      color: #ff0055;
    }
    & h3 {
      font-weight: bold;
      text-transform: uppercase;
      color: #ff86af;
    }
  }

  & .cart-title {
    width: 100%;
    display: block;
    text-align: center;
    & span {
      color: #e91e63;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 27px;
      background: #00000014;
      font-weight: bold;
      font-size: 14px;
      margin-right: 7px;
    }
    & a {
      background: #9c27b0;
      padding: 8px 14px;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
  }
  & .timestamp {
    font-size: 12px;
    font-weight: bold;
    color: #000000ab;
    margin-left: 0 !important;
    font-style: italic;
  }
  & .title-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
  }
  .sort-btn {
    width: 100%;
    & button {
      border: none;
      background: none;
      margin: 0 6px;
      cursor: pointer;
      transition: 200ms;
      &:hover {
        color: #e91e63;
      }
      &.active {
        color: #e91e63;
      }
      & i {
        font-size: 18px;
      }
    }
  }
}
.pay-btns {
  margin-left: 70px !important;
  &.normal {
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    & .b1 {
      width: 189px;
      display: inline-block;
      padding: 0 8px;
      text-align: left;
    }
  }
  & button {
    width: 100%;
    padding: 11px;
    background: #ffc107;
    color: #000;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-family: quicksands;
    cursor: pointer;
    width: 200px;
    border: 1px solid #0000003d;
  }
  & span {
    font-weight: bold;
    font-style: italic;
    text-align: center;
  }
  & i {
    margin-right: 5px;
    font-size: 34px;
  }
}
