html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  font-family: "Quicksand", sans-serif;
  background: #f5f5ff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #203040;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background: #203040;
  color: #ffffff;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
a {
  text-decoration: none;
  transition: 400ms;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
.item-name {
  margin-left: 9px !important;
  display: block;
  cursor: pointer;
  & h2 {
    text-transform: capitalize;
  }
}
header a {
  color: white;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Yellowtail", cursive;
}
.row.center.items,
.product-view {
  margin-top: 163px;
}
.row.center {
  justify-content: center;
}
img {
  border-radius: 0.5rem;
}
.page-size {
  max-width: 1280px;
  margin: auto;
}
img.medium {
  max-width: 29rem;
  width: 100%;
  max-height: 300px;
  height: 100%;
  object-fit: cover;
}
.card {
  border: 0.1rem #e7edff solid;
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin: 1rem;
  box-shadow: 0 0 11px 1px #0000002b;
  overflow: hidden;
  width: 288px;
}
.card-body {
  position: relative;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .toolkit {
  padding: 7px 0;
  background: #efcfcf;
}
.card .toolkit i {
  font-size: 22px;
  /* background: blue; */
  display: inline-block;
  padding: 5px 10px;
}
.card .toolkit span {
  text-align: center;
  display: block;
}
.card .toolkit {
  cursor: pointer;
}
.rating-text {
  display: inline-block;
  font-size: 12px;
  margin: 3px 7px;
  text-shadow: 0 0 2px black;
}
.card .toolkit i.heart {
  color: #ff0047;
}
.card .toolkit i.cmnt {
  color: #33444b;
}
.card .toolkit i.cart {
  color: #1572bc;
}
.card-body a h2 {
  padding: 0;
  text-align: center;
  color: black;
  font-weight: bold;
}
.stars--div {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  position: absolute;
  top: -46px;
  left: 10px;
}
.price .fa-dollar {
  background: #b3cdff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #2b3438;
}
.items {
  align-items: flex-start;
}
.stars--div i.fa-star {
  text-shadow: 0 0 2px black;
}
.restaurant {
  font-size: 14px;
  display: block;
  margin: 7px 9px;
  color: #474747;
  text-transform: capitalize;
  font-weight: bold;
}
span.badge {
  display: inline !important;
  font-size: 12px;
  font-weight: bold;
  background: #e91e63;
  margin-left: -15px;
  color: white;
  padding: 1px 8px;
  border-radius: 4px;
  letter-spacing: 1px;
}
.loading {
  display: flex;
  height: 415px;
  flex-direction: column;
  justify-content: space-between;

  min-height: 20px;
  overflow: hidden;
}

.loading > div {
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #0000, #0000001a, #0000);
  animation: loading 1s linear infinite forwards;
  opacity: 0;
  background-repeat: no-repeat;
}
.loading div.img {
  height: 60%;
}
.loading div.name {
  height: 10%;
  width: 60%;
  margin: auto;
  border-radius: 20px;
}
.loading div.toolskit {
  height: 10%;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}
.loading div.price {
  width: 60%;
  height: 30px;
  border-radius: 5px;
}
.loading > div:nth-child(2) {
  animation-delay: 200ms;
}
.loading > div:nth-child(3) {
  animation-delay: 400ms;
}
.loading > div:nth-child(4) {
  animation-delay: 600ms;
}
@keyframes loading {
  0% {
    background-position: -100px;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    background-position: 300px;
  }
}
.image-sec {
  min-height: 184px;
  display: block;
  cursor: pointer;
  transition: 200ms ease-in-out;
  &:hover {
    // transform: scale(1.1);
    filter: grayscale(0.8);
  }
}
.fading {
  opacity: 0;
  animation: fade-in 400ms ease-in-out forwards 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #fff0;
}
::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: #ffcbcb;
}
::-webkit-scrollbar-button {
  width: 4px;
  background-color: #f000;
}
.product-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 1;
  background: #000c;
  width: 100%;
  height: 100vh;
  justify-content: center;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  right: 0;
  bottom: 0;
  margin-top: 0;
}
.product-view .item {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 89vh;
  box-shadow: 2px 5px 9px 1px #00000030;
}
.product-view .right {
  padding: 0 24px;
  & div.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h3 {
      padding: 0;
      margin: 0;
    }
    & p {
      margin-left: 5px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      display: flex;
      margin: 0;
      font-size: 18px;
      background: #ff00a324;
      align-items: center;
      justify-content: center;
      transition: background 200ms ease-in;
      cursor: pointer;
      &:hover {
        background: #ff00a34d;
      }
    }
  }
}

.product-view .right .item {
  display: flex;
  justify-content: center;
  max-width: 1042px;
  margin: auto;
  border-radius: 7px;
}
.product-view .left img {
  max-width: 470px;
  height: 100%;
  object-fit: cover;
}
.product-view .right .title {
  text-transform: capitalize;

  font-weight: bold;
}
.product-view .right .price {
  font-size: 16px;
}
.product-view .right span {
  font-weight: bold;
  font-size: 14px;
}
.product-view .right p {
  font-weight: bold;
}
.product-view .right > * {
  background: #ffffff5c;
  padding: 11px;
  border-radius: 3px;
  display: block;
  margin: 5px;
}
.add-to-cart {
  background: #673ab7 !important;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight: bold;
  margin: 10px 0 !important;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 200ms;
  height: 50px;
  width: 203px;
}
.add-to-cart:hover {
  filter: brightness(120%);
}
.more-item {
  background: #fff;
  display: flex;
  margin-top: 46px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 9px 1px #0000001a;
  align-items: flex-start;
}
.message-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffffc2;
  padding: 17px 52px;
  text-align: center;
  box-shadow: 2px 2px 7px 1px #00000061;
  position: fixed;
  bottom: 69px;
  z-index: 1;
  font-weight: bold;
  letter-spacing: 1px;
  backdrop-filter: blur(3px);
  border-radius: 4px;
  min-width: 200px;
}
.message-box span.close {
  font-size: 25px;
  padding: 0 6px;
  margin: 0;
  margin-left: 17px;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.message-box span {
  display: inline-block;
}

.message-box.success {
  color: #0b6ab6 !important;
}
.message-box.alert {
  color: #ef6d44 !important;
}
.message-box.error {
  color: #ca0045 !important;
}
.success {
  color: #0b6ab6 !important;
}
.alert {
  color: #ef6d44 !important;
}
.danger {
  color: #ca0045 !important;
}
.qty {
  display: flex !important;
  width: 163px;
  height: 27px;
  align-items: center;
  justify-content: space-between;
  background: #3f51b514 !important;
  & button {
    width: 100%;
    height: 34px;
    border: none;
    font-size: 16px;
    background: none;
    cursor: pointer;
  }
  & p {
    padding: 0 12px;
    font-size: 18px;
  }
}
