header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  & a.brand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Yellowtail", cursive;
    margin: 0;
    display: block;
  }
  &.page-size {
    width: 100%;
  }
  & nav {
    display: flex;
    justify-content: space-between;
    // background: #00000017;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    & div {
      margin: 0 20px;
    }
  }
  & .cart {
    font-size: 27px;
    margin-right: 3px;
    & i {
      background: #000000bf;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: 200ms;
      border: 2px solid transparent;
      &:hover {
        background: #0000004a;
        border: 2px solid #0003;
      }
    }
  }
  & .fa-user {
    font-size: 18px;
    margin-right: 5px;
  }
  & .dropdown,
  & .user-btn {
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    margin: 20px 9px 5px 0px;
    background: #000000b3;
    border-radius: 5px;
    transition: 200ms;
    display: inline-flex;
    min-width: 100px;
    max-width: 200px;
    border: 2px solid transparent;
    position: relative;
    &:hover {
      background: #00000086;
      border: 2px solid #0003;
    }
    & a {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    & .menu {
      width: 200px;
      position: absolute;
      background: #000000;
      top: 38px;
      right: 3px;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      border-radius: 3px;
      box-shadow: 5px 5px 6px 0px #0000002e;
      display: none;
      & .arrow-up {
        width: 100%;
        height: 20px;
        margin-top: -12px;
        margin-right: 0px;
        display: block;
        float: right;
        & .span {
          width: 27px;
          height: 27px;
          background-color: black;
          display: block;
          border-radius: 2px;
          margin-top: 6px;
          transform: rotate(45deg);
          float: right;
          margin-right: 33px;
        }
      }
      & a {
        font-weight: bold;
        color: rgb(255, 255, 255);
        &:hover {
          color: orangered;
        }
      }
    }

    &:hover > ul.menu {
      display: block;
    }
  }
  & .user-btn {
    flex-direction: row;
    min-width: unset;
    max-width: unset;
  }
  .kxnw {
    // margin-top: 5px;
  }
}
.search-bar {
  background: #0000008f;
  width: 42%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 42px;
  margin-top: 9px;
  border: 1px solid #ff57224f;
  & i {
    font-size: 30px;
    margin-right: 14px;
    color: #f1f1f1cc;
  }
  &:hover > i {
    color: white;
  }
  & input {
    width: 90%;
    height: 100%;
    background: none;
    border: none;
    padding: 0 13px;
    font-size: 18px;
    color: white;
    &::placeholder {
      color: rgb(179, 179, 179);
    }
  }
}
input {
  outline: none;
  &:focus {
    outline: none;
  }
}
